body{
    background-color: rgb(9, 58, 44);
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 83% 15% 2%;
    grid-template-rows: 100%; 
    height: 100vh;
  }

  .left {
    display: grid;
    grid-template-rows: 25% 75%;
  }

  .top-left {
    background-color: #a8dadc;
  }

  .bottom-left {
    background-color: #457b9d;
  }

  .right {
    background-color: #e63946;
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
  }

  .chosenhinten{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    overflow: hidden;
  }

  .chosen{
    background-color: white;
    width: 100%;             /* oder 100px */

  }

  .chosen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .erster{
    background-color: rgb(233, 136, 136);
    width: 100%;             /* oder 100px */
    aspect-ratio: 1 / 1;
  }

  .erster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .seitewechseln{
background-color: black;
  }