
:root {
  --transition-speed: .75s;
  --spine-width: 20px;
  --album-width: 100vh;
  --album-height: 100vh;
}

body {
  background-color: rgb(25, 81, 65);
  margin: 0;
  display: flex;
  overflow: hidden;
  font-family: "Karantina", system-ui;
  font-weight: 100;

}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  
}

/* durchblättern */
.vinyl-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: calc(17 * var(--spine-width) + var(--album-width));
  overflow-x: auto;
  white-space: nowrap;
  flex-shrink: 0;
  height: var(--album-height);
}

.vinyl-hintergund{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('Bilder/Holz.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.vinyl-item {
  display: flex;
  overflow: hidden;
  transition: width var(--transition-speed) ease-in-out;
  cursor: pointer;
}


.vinyl-spine {
  min-width: var(--spine-width);
  height: 100%;
  object-fit: cover;
}

.vinyl-cover {
  width: var(--spine-width);
  height: 100%;
  object-fit: cover;
  transition: width var(--transition-speed) ease-in-out;
}

.vinyl-item.active {
  width: var(--album-width);
}

.vinyl-item:not(.active) {
  width: var(--spine-width);
}

.vinyl-item.active .vinyl-cover {
  width: calc(var(--album-width) );
}

/* Optional hover effect */
.vinyl-item:not(.active):hover {
  opacity: 0.6;
  /* width: calc(var(--spine-width) + 2px); */
}





/* Ausgewählt */

.ausgewählt {
  position:relative;
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column ;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;

}

.Player{
  position: relative;
  height: calc(100vh / 4);
  aspect-ratio: 1239 / 961;

}

.interaktion{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: 32;
}

.Platte_container:hover {height: 85%;}


.delete-button:hover{width: 12%;}
.Player:hover .interaktion{
  opacity: 0.2;
}
.Player:hover .st0{
  opacity: 1;

}

.Platte_container{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  height: 75%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  z-index: 33;
  background-size: cover;
  background-position: center;
    cursor: pointer;
}

.Platte_drehung{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  animation: rotate 2s linear infinite;
  animation-play-state: paused;
}

.Plattenspieler, .Hebel{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.Plattenspieler{z-index: 30;}
.Hebel{z-index: 35; pointer-events:none;}

.Platte_on{
  display: none;

}

.Kabelsalat{
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  background-image: url('Bilder/Kabel.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.delete-button{
  position: absolute;
  top: 25px;
  left: 25px;
  transform: translate(-50%, -50%);
  z-index: 33;
  width: 10%;
  aspect-ratio: 1/1;
    cursor: pointer;
}
.st0 {
  fill: none;
  stroke: rgb(209, 188, 150);
  stroke-miterlimit: 10;
  stroke-width: 150px;
  opacity: 0;
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.Platte_drehung.rotating {
  animation: rotate 1.2s linear infinite;
  animation-play-state: running;

}
.Platte_drehung:not(.rotating) {
  animation-play-state: paused;
  transform: rotate(0deg);
}



/* Navigation */

.back{
  background-color: rgb(25, 81, 65);
  height: 100%;
  width: 3vw;
}
/* Back Button */
.back-button {
  position: absolute; /* Fixed, damit er immer oben bleibt */
  top: 43vh; /* Abstand vom oberen Rand */
  left: 2vw; /* Abstand vom linken Rand */
    color: #d1bc96;
  text-decoration: none;
  z-index: 100; /* Damit der Pfeil immer sichtbar ist */
  display: flex;

}

.back-button .arrow {
  font-size: 200px; /* Anpassen der Pfeilgröße */
  rotate:180deg;
    font-family: "neohead", system-ui;
  transition: transform 0.3s ease;
  transform: translate(20px,0); /* Ein wenig nach oben verschoben */
}

.back-button:hover .arrow {
  transform: translate(30px,0); /* Pfeil beim Hover nach oben bewegen */
  cursor: pointer;
}

.arrow {
  font-family: "neohead", system-ui;
  font-weight: 100;
}