

body{
    background-color: rgb(25, 81, 65);
    margin: 0;
    padding: 0; 
    font-family: "Karantina", system-ui;
    font-weight: 100;
    color: rgb(9, 58, 44);
    line-height: 0.72;
    height: 100vh;
    width: 120vw;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;

}

.layout{
    position: relative;
    width: 100vw;
}

.SOUND{
    color: rgb(9, 58, 44);
    position: absolute;
    top: 5vh;
    left: 5vw;
    font-size: 80vh;
}

.ON{
    color: rgb(9, 58, 44);
    position: absolute;
    font-size: 70vh;
    right: 8vw;
    bottom: 2vh;

}

.FOR{
    color: rgb(209, 188, 150);
    position: absolute;
    font-size: 30vh;
    right: 65vw;
    bottom: 6vh;
    z-index: 2;

}

.DJSHADOW{
    color: rgb(209, 188, 150);
    position: absolute;
    font-size: 20vh;
    right: 33vw;
    bottom: 3vh;
    z-index: 2;

}

.Bild1{
    position: absolute;
    left: 0px;
    top: 15vh;
    width: 55vw;
    overflow: hidden;
    aspect-ratio: 3 / 2;
}

.Bild2{
    position: absolute;
    right: 0px;
    bottom: 12vh;
    width: 55vw;
    overflow: hidden;
    aspect-ratio: 3 / 2;
}

.Bild1 img, .Bild2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Streifen{
    position: absolute;
    height: 120%;;
    top: -5px;
    background-color: rgb(25, 81, 65);
    z-index: 1;

}

.schmal{width: 18px;}
.mittel{width: 35px;}
.dick{width: 40px;}
.extradick{width: 100px;}

.S1{ left: 0px;}
.S2{ left: 25px;}
.S3{ left: 18vw}
.S4{ left: 37vw;}
.S5{ right: calc(48vw + 55px);}
.S6{ right: 48vw;}
.S7{ right: calc(100px + 1vw);}
.S8{ right: 0px}



/*Navigation*/

a {
  text-decoration: none;
  color: inherit;
}

a:visited,
a:active {
  color: inherit;
}


.navigation{
    border: 0px solid red;
    height: 100vh;
    width: 20vw;
    
}
.samplin-button {
  position: absolute;
  left: 100vw;
  bottom: 50vh;
  display: flex;
  text-decoration: none;
  align-items: center;
  color: rgb(9, 58, 44);
  font-size: 100px;
    font-family: "Karantina", system-ui;
    font-weight: 100;
  gap: 50px;
  z-index: 10;
}

.samplin-button:hover {
    color: rgb(209, 188, 150);
  cursor: pointer;
}

.samplin-button .arrow {
  font-size: 200px;
  transition: transform 0.3s ease;
    transform: translate(0, -20px);
}

.samplin-button:hover .arrow {
  transform: translate(20px, -20px);
}

.about-button {
  position: absolute;
  left: 100vw;
  bottom: 10vh;
  display: flex;
    flex-direction: column; /* ← Das ist neu! */
  align-items: center;
  color: rgb(9, 58, 44);
  font-size: 100px;
    font-family: "Karantina", system-ui;
    font-weight: 100;
  text-decoration: none;
  gap: 5px;
  z-index: 10;
}

.about-button:hover {
    color: rgb(209, 188, 150);
  cursor: pointer;
}

.about-button .arrow {
  font-size: 200px;
  rotate:90deg;
  transition: transform 0.3s ease;
  transform: translate(0, -20px);
}

.about-button:hover .arrow {

  transform: translate(20px, -20px);


}