
body{
    background-color: rgb(25, 81, 65);
    margin: 0;
    padding: 0; 
    font-family: "Karantina", system-ui;
    font-weight: 100;
    color: rgb(9, 58, 44);
    line-height: 0.72;
    position: relative;
    height: 100vh;
}

.SOUND{
    color: rgb(9, 58, 44);
    position: absolute;
    top: 5vh;
    left: 5vw;
    font-size: 80vh;
}

.ON{
    color: rgb(9, 58, 44);
    position: absolute;
    font-size: 70vh;
    right: 8vw;
    bottom: 2vh;

}

.FOR{
    color: rgb(209, 188, 150);
    position: absolute;
    font-size: 30vh;
    right: 65vw;
    bottom: 6vh;
    z-index: 2;

}

.DJSHADOW{
    color: rgb(209, 188, 150);
    position: absolute;
    font-size: 20vh;
    right: 33vw;
    bottom: 3vh;
    z-index: 2;

}

.Bild1{
    position: absolute;
    left: 0px;
    top: 15vh;
    width: 55vw;
    overflow: hidden;
    aspect-ratio: 3 / 2;
}

.Bild2{
    position: absolute;
    right: 0px;
    bottom: 12vh;
    width: 55vw;
    overflow: hidden;
    aspect-ratio: 3 / 2;
}

.Bild1 img, .Bild2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Streiffen{
    position: absolute;
    height: 120%;;
    top: -5px;
    background-color: rgb(25, 81, 65);
    z-index: 1;

}

.schmal{width: 18px;}
.mittel{width: 35px;}
.dick{width: 40px;}
.extradick{width: 100px;}

.S1{ left: 0px;}
.S2{ left: 25px;}
.S3{ left: 18vw}
.S4{ left: 37vw;}
.S5{ right: calc(48vw + 55px);}
.S6{ right: 48vw;}
.S7{ right: calc(100px + 1vw);}
.S8{ right: 0px}