
body{
    background-color: rgb(25, 81, 65);
    margin: 0;
    padding: 0; 
    font-family: "Karantina", system-ui;
    font-weight: 100;
    overflow: hidden;
}

/*Playbereich*/
.musik_player{
background-color: rgb(9, 58, 44);
height: 60px;
width: 100vw;
}

/*Schallplatten*/
.inhalt{
    position: absolute;
    top: 0px;
    left: 0px;

}
.titel{
    font-size: 60px;
    color: rgb(209, 188, 150);
}

.text{
    font-size: 30px;
    color: rgb(209, 188, 150);
}

.info_platte{
    height: 470px;
    width: 470px;
    animation: rotateInfinitely 1.3s linear infinite; /* Dauer: 6 Sekunden, linear, unendlich */
  transition: transform 0.5s ease; /* sanfte Rückdrehung beim Hover */
}

.info_platte img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

    .info_platte{
        position: relative;
    }

    .joshua_paul{
        position: absolute;
        right: 2vw;
        top: 5vw;
    }

    .enterducing{
        position: absolute;
        right: 29vw;
        bottom: -5vh;
    }

    .controversial{
        position: absolute;
        left: 5vw;
        top: 25vh;
    }

    .inhalt{
position: absolute;
top: 130px;
left: 90px;
    }

    .sticker{
        position: absolute;
        height: 130px;
        width: auto;
        top: 280px;
        opacity: 0.7;
        rotate: 150deg;
        left: 220px;

    }

    .sticker img{
        height: 100%;
        width: auto;
    }

    /*Animation der platten */
    @keyframes rotateInfinitely {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      .info_platte:hover {
        animation: none;              /* Stoppt die Rotation */
        transform: rotate(0deg);      /* Setzt zurück auf 0 Grad */
      }


/*Hintergund*/
.Bild_oben_links{
   height: 62vh; 
   width: 60vw;
   z-index: -1;
}

.Bild_oben_links img{
    height: 100%;
    width: 100%;
    
}
    
.Bild_rechts{
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 60vh;
    width: auto;
    z-index: -1;
}

.Bild_rechts img{
    width: auto;
    height: 100%;
}

.Bild_unten_links{
    position: absolute;
    top: calc(60px + 67vh);
    left: 8vw;
    width: 35vw;
    height: auto;
    z-index: -1;
    
}

.Bild_unten_links img{
    height: auto;
    width: 100%;
}