
body{
    background-color: rgb(25, 81, 65);
    margin: 0;
    padding: 0; 
    overflow: hidden;
}

/*Playbereich*/
.musik_player{
background-color: rgba(9, 58, 44, 0);

height: 100px;
width: 100vw;

    z-index: 1;

}
.Pfeil svg {
    height: 50px;
    position: absolute; /* oder fixed, wenn es immer sichtbar bleiben soll */
    top: 20px; /* Abstand von oben */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}


        .pfeil_aussehen {
    fill: none;
    stroke: #d1bc96;
    stroke-miterlimit: 10;
    stroke-width: 20px;
  }
/*Schallplatten*/

.titel{
    font-family: "Karantina", system-ui;
    font-size: 60px;
    font-weight: 100;
    color: rgb(209, 188, 150);
}

.text{
    font-family: "Bebas Neue", system-ui;
    font-size: 25px;
    font-weight: 100;
    color: rgb(209, 188, 150);
}

.info_platte{
    height: 470px;
    width: 470px;
    animation: rotateInfinitely 1.3s linear infinite; /* Dauer: 6 Sekunden, linear, unendlich */
  transition: transform 0.5s ease; /* sanfte Rückdrehung beim Hover */
}

.info_platte img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

    .info_platte{
        position: relative;
    }

    .joshua_paul{
        position: absolute;
        right: 2vw;
        top: 5vw;
    }

    .enterducing{
        position: absolute;
        right: 29vw;
        bottom: -5vh;
    }

    .controversial{
        position: absolute;
        left: 5vw;
        top: 25vh;
    }

    .inhalt{
    position: absolute;
    top: 80px;
    left: 20px;
    text-align: center;

    }

    .sticker{
        position: absolute;
        height: 300px;
        width: auto;
        top: 500px;
        opacity: 0.5;
        rotate: -40deg;
        left:300px;
           z-index: -1;
        

    }

    .sticker img{
        height: 100%;
        width: auto;
    
    }

    /*Animation der platten */
    @keyframes rotateInfinitely {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      .info_platte:hover {
        animation: none;              /* Stoppt die Rotation */
        transform: rotate(0deg);      /* Setzt zurück auf 0 Grad */
      }


/*Hintergund*/
.Bild_oben_links {
   position: absolute;
   height: 62vh; 
   width: 60vw;
   z-index: -2;
}


.Bild_oben_links img{
    height: 100%;
    width: 100%;
    
}
    
.Bild_rechts{
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 60vh;
    width: auto;
    z-index: -1;
}

.Bild_rechts img{
    width: auto;
    height: 100%;
}

.Bild_unten_links{
    position: absolute;
    top: calc(60px + 67vh);
    left: 8vw;
    width: 35vw;
    height: auto;
    z-index: -1;
    
}

.Bild_unten_links img{
    height: auto;
    width: 100%;
}
